/* body {
    font-family: Verdana;
    text-align: center;
} */

/* #countLabel {
    display: block;
    text-align: center;
    font-size: 100px;
    font-family: Helvetica;
}

#buttonContainer {
    text-align: center;
}

.buttons {
    padding: 10px, 20px;
    font-size: 25px;
    color: white;
    background-color: blue;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.25s;
}

.buttons:hover {
    background-color: darkblue;
} */

/* #generateButton {
    font-size: 50px;
    padding: 5px 25px;
    border-radius: 5px;
}

.labels {
    font-size: 75px;
} */

/* body {
    font-family: Verdana;
    font-size: 50px;
} */

/* #submitButton {
    font-size: 50px;
} */

/* .box {
    border: 3px solid;
    width: 100%;
    height: 125px;
} */

/* #fruits {
    border: 3px solid;
    font-size: 2rem;
} */

/* #myBox {
    background-color: lightgreen;
    width: 300px;
    height: 300px;
    font-size: 4.5rem;
    font-weight: bold;
    display: flex;
    align-items: center;
    text-align: center;
}

#myButton {
    font-size: 3rem;
} */

/* body {
    margin: 0;
}

#myBox {
    background-color: lightblue;
    width: 200px;
    height: 200px;
    font-size: 7.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
} */

/* #hide-show {
    font-size: 2rem;
} */

/* .buttons {
    font-size: 4rem;
    margin: 10px;
    border: none;
    border-radius: 5px;
    padding: 10px 15px;
    background-color: hsl(205, 100%, 60%);
    color: white;
} */

/* #myH1 {
    font-size: 5rem;
}

#myButton {
    font-size: 4rem;
    margin: 10px;
    border: none;
    border-radius: 5px;
    padding: 10px 15px;
} */

.enabled {
    background-color: hsl(240, 100%, 50%);
    color: white;
}

.hover {
    box-shadow: 0 0 10px hsla(0, 0%, 0%, 0.2);
    font-weight: bold;
}

.disabled {
    background-color: hsl(0, 0%, 60%);
    color: hsl(0, 0%, 80%);
}

.my-buttons {
    font-size: 4rem;
    margin: 10px;
    border: none;
    border-radius: 5px;
    padding: 10px 15px;
}